  /* if desktop */

  .mobile_device_380px {
      display: none;
  }

  .mobile_device_480px {
      display: none;
  }

  /* if mobile device max width 380px */

  @media only screen and (max-device-width: 380px) {
      .mobile_device_480px {
          display: none;
      }
      .mobile_device_380px {
          display: block;
      }
      .desktop {
          display: none;
      }
  }

  /* if mobile device max width 480px */

  @media only screen and (max-device-width: 480px) {
      .mobile_device_480px {
          display: block;
      }
      .mobile_device_380px {
          display: none;
      }
      .desktop {
          display: none;
      }
  }

/* DESKTOP RULES */

    html * {
        background-color: black;
        font-family: 'VT323', monospace;
    }

  .grid-container {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-template-columns: auto auto auto;
      background-color: black;
  }

  .grid-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .logo > * {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50px;
  }

  .textLogo > img {
      display: table;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      align-content: center
  }

  .footer {
      margin-top: 40px;
      background-color: purple;
      padding: 10px;
      text-align: center;
  }

  p.double {
      border-style: solid;
      border-color: red;
      border-width: thin
  }

  /* unvisited link */

  a:link {
      color: #00ffff;
  }

  /* visited link */

  a:visited {
      color: #00ffff;
  }

  /* mouse over link */

  a:hover {
      color: #ff0000;
  }

  /* selected link */

  a:active {
      color: palevioletred;
  }

  body {
      /*background-image: url("assets/lightning.jpg")*/
      font-family: "Courier New", Courier, monospace;
  }
