.grid-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.textLogo > img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: 20px;
    background-color: purple;
    padding: 10px;
    text-align: center;
}

p.double {
    border-style: solid;
    border-color: red;
    border-width: thin
}

/* unvisited link */

a:link {
    color: #00ffff;
}

/* visited link */

a:visited {
    color: #00ffff;
}

/* mouse over link */

a:hover {
    color: #ff0000;
}

/* selected link */

a:active {
    color: palevioletred;
}

body {
    /*background-image: url("assets/lightning.jpg")*/
    font-family: "Courier New", Courier, monospace;
}